
<p class="home">
    <%= link_to 'Find trails', controller: 'trails' %> &nbsp;&nbsp;&nbsp;
    <%= link_to 'Feedback'%>&nbsp;&nbsp;&nbsp;

Follow our FB Page: <a href="https://www.facebook.com/groups/532937140892453/">Safe Lane</p>
<div class="home-video-wrapper">
  <%= video_tag "landingPage.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
</div>
