<div class="home-video-wrapper">
  <%= video_tag "landingPage.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>

  <a><button class="button"><%= link_to 'Get Started!', controller: 'mainpage' %></button></a>
  </div>