<div class="home-video-wrapper">
  <%= video_tag "landingPage.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  

<p class="home"><a <%= link_to 'Find trails', controller: 'trails' %> Follow our FB Page: <a href="https://www.facebook.com/groups/532937140892453/">Safe Lane</a>. </p>
</div>
