

<div class="home-video-wrapper">
  <%= video_tag "landingPage.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
</div>

<p class="home" id="rcorners1">
    <%= link_to 'Get Started!', controller: 'mainpage' %> &nbsp;&nbsp;&nbsp;
</p>