

<body>
<ul>
  <li><a href="https://www.facebook.com/groups/532937140892453/" target="_blank">Find us on Facebook</a></li>
  
  <li><a href="#about">About Us</a></li>
  <li><a <%= link_to 'Reviews'%></a></li>
  <li><a <%= link_to 'Find trails to Ride', controller: 'trails' %></a></li>
  <h1>Biking in Charlotte city with SafeLane</h1>
</ul>

<div class="hero-image">
</div>
 
 
<div class="footer"> 
 <li><a href="#contact">Contact Us</a></li>
 <li><a href="#privacy">Privacy Policy</a></li>
 <li><a href="#terms">Terms of Use</a></li>
 <h2>“Ride as much or as little, as long or as short as you feel. But ride” – Eddy Merckx</h2>
</div>


</body>



