<p>
    <strong>Name:</strong>
    <%= @trail.Name %>
</p>

<p>
    <strong>Location:</strong>
    <%= @trail.Location %>
</p>

<p>
    <strong>Description:</strong>
    <%= @trail.Description %>
</p>