<!--
The View component (mainpage/index.html.erb) is used for all the UI logic of our main page. It is basically all the componenets
that the user or the customer sees when they navigate throught the "Get Started" tab. In this page we have a header, a footer, the background image,
Link to our Facebook page, Link to other pages on the app and more!
-->


<ul>
  <li><a href="https://www.facebook.com/groups/532937140892453/" target="_blank">Follow our FB page</a></li>
  
  <li><a href="#about">About</a></li>
  <li><a <%= link_to 'Feedback'%></a></li>
  <li><a <%= link_to 'Find trails', controller: 'trails' %></a></li>
<h1 class="home">Safe<img src="https://cdn.vectorstock.com/i/1000x1000/24/76/bike-wheel-on-white-backgrou-vector-13472476.jpg" height="40" width="40">Lane </h1>
</ul>

<div class="hero-image">
</div>
 
 
<div class="footer"> 
 <li><a href="#contact">Contact Us</a></li>
 <li><a href="#privacy">Privacy Policy</a></li>
 <li><a href="#terms">Terms of Use</a></li>
 <h3>“Ride as much or as little, as long or as short as you feel. But ride” – Eddy Merckx</h3>
</div>



