<body>
<ul>
  <li><a class="active" href="#about">About</a></li>
  <li><a <%= link_to 'Find trails', controller: 'trails' %></a></li>
  <li><a <%= link_to 'Feedback'%></a></li>
  <li><a href="https://www.facebook.com/groups/532937140892453/">Follow our FB Page</a></li>
</ul>

<div class="hero-image">
</div>

</body>