h1 {
  font-size: 20px;
  font-style: oblique;
  color: black;
  text-align: center;
}
h2{
    font-size: 15px;
    font-style: oblique;
    color: black;
    text-align: center;

}
  


p {
  font-size: 15px;
  color:black;
}