// Place all the styles related to the Mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.home {
  color: black;
  font-size: 20px;
  text-align:center; 
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  background : honeydew ;
  border: double;
  width: 80vw;
  
}

h1.home {
  color: 4000ff;
  font-size: 40px;
  text-align:center; 
  vertical-align: middle;
}