// Place all the styles related to the Mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  font-family: Arial, Helvetica, verdana, sans-serif, Times New Roman, Times, serif, Arial, Helvetica, sans-serif;

}
  
  // background images
.hero-image {
  background-image: url("IMG_3424 (1).JPG");
  background-color: #32ff40; 
  height: 519px; // size of image
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  position: relative;
}

// text for image
.hero-text { 
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

// make changes on the feedback, reiviews etc//
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #32ff40;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
 // font-variant: initial;
  font-family: Arial;
  background-color: #ffffff;
}

// move feedback etc. right or left or cener
li {
  float: right;
}


// Font color of feedback etc
li a {
  display: block;
  color: #003303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
// change color on text when hover
li a:hover:not(.active) {
  background-color: #A9A9A9;
}

li a.active {
  color: black;
  background-color: #32ff40;
}

.footer {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  width: 100%;
     
} 

h1{
  font-size: 18px;
  font-weight: normal;
  
}
h2{
  font-size: 16px;
  font-weight: normal;
  
}