// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
    text-align: center;
    justify-content: center
}
.home_video {
 width: 100vw;
 height: 100vh;
 position:absolute;
 object-fit:cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
height: 100vh;
display: flex;
color: white;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #b3ffe0;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-right: 570px; 
  position: absolute;
  right:    0;
  bottom:   0;
  justify-content: center;
}


.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}